*{
    padding: 0px;
    margin: 0px;
  }
  
  
  body{
    font-family: sans-serif;
  }
  .navbar {
    position: sticky;
    top: 0px;
    width: 100%;
    background-color: #555;
    overflow: auto;
  }
  
  /* Navbar links */
  .navbar a {
    float: left;
    text-align: center;
    padding: 20px;
    color:white;
    text-decoration: none;
    font-size: 21px;
  }
  
  /* Navbar links on mouse-over */
  .navbar a:hover {
    background-color:goldenrod;
  }
  
  /* Current/active navbar link */
  .active {
    background-color: blue;
  }
  
  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }
  #pizz
  {
      width: auto;
  }
  
  
  
  div.gallery {
      border: 1px solid #ccc;
    }
    
    div.gallery:hover {
      border: 1px solid #777;
    }
    
    div.gallery img {
      width: 100%;
      height: auto;
    }
    
    div.desc {
      padding: 15px;
      text-align: center;
      background-color:black;
    }
    
    * {
      box-sizing: border-box;
    }
    
    .imgplot{
      padding: 0 6px;
      float: left;
      width: 24.99999%;
    }
  
    @media only screen and (max-width: 700px) {
      .imgplot{
        width: 49.99999%;
        margin: 6px 0;
      }
    }
    
    @media only screen and (max-width: 500px) {
      .imgplot {
        width: 100%;
      }
    }
    
    .clearfix:after {
      content: "";
      display: table;
      clear: both;
    }